// Variables
$white: #fff !default;
$font-color: #888888 !default;
$heading-color: #525252 !default;
$nav-color: #444444 !default;
$para-color: #666666 !default;
$primary: #a98bb1 !default;
$primary2: #52aebb !default;
$bgColor: #fff;